@import url(style.scss);

.working-process {
  padding: 0 314px 110px 317px;
}
.working-process__body {
  padding-top: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-family: "CeraProReg";
}
.working-process__body-back-page p {
  font-size: 14px;
  line-height: 120%; // 17px
  letter-spacing: -0.03em;
}
.working-process__body-back-page {
  display: flex;
  align-items: center;
  column-gap: 12.65px;
  align-self: flex-start;
  padding-bottom: 29px;
}
.working-process__body-title {
  align-self: flex-start;
  padding-bottom: 29px;
  font-size: 48px;
  line-height: 110%; // 53px
  letter-spacing: -0.03em;
}
.working-process__body-text {
  padding-bottom: 50px;
  font-size: 20px;
  line-height: 180%; // 36px
  letter-spacing: -0.02em;
}
.working-process__body-text-2 {
  padding-top: 70px;
}
.working-process__body-text-3 {
  padding-top: 50px;
}
.working-process__body-special-text {
  font-family: "CeraProLight";
  font-size: 32px;
  line-height: 150%; // 48px
  letter-spacing: -0.03em;
  padding-bottom: 42px;
  align-self: flex-start;
}
.working-process__body-feedback {
  padding: 52px 53px 65px 60px;
  background: #eee4da;
}
.feedback-text {
  font-size: 20px;
  line-height: 180%; // 36px
  letter-spacing: -0.02em;
  padding-bottom: 40px;
}
.working-process-feedback-info-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.working-process-feedback-info {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.working-process-feedback-name {
  font-size: 24px;
  line-height: 130%; // 31px
  letter-spacing: -0.02em;
  padding-bottom: 4px;
}
.working-process-feedback-position {
  font-size: 13px;
  line-height: 130%; // 17px
  letter-spacing: -0.03em;
}
.working-process-image-block {
  position: relative;
}
.working-process-image {
  max-width: 100%;
  object-fit: cover;
}
.working-process-image-768px {
  display: none;
}
.w-p-video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1190px) {
  .working-process {
    padding: 0 200px 139px 200px;
  }
}
@media (max-width: 905px) {
  .working-process {
    padding: 0 100px 70px 100px;
  }
}
@media (max-width: 768px) {
  .working-process {
    padding-bottom: 90px;
  }
  .working-process__body {
    padding-top: 86px;
  }
  .working-process__body-back-page,
  .working-process__body-title {
    align-self: center;
  }
  .working-process__body-back-page {
    padding-bottom: 25px;
  }
  .working-process__body-title {
    padding-bottom: 50px;
  }
  .working-process__body-text {
    padding-bottom: 30px;
  }
  .working-process__body-special-text {
    padding-bottom: 50px;
  }
  .working-process__body-text-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .working-process-feedback-info-body img:nth-child(1) {
    display: none;
  }
}
@media (max-width: 500px) {
  .working-process {
    padding: 0 15px;
    padding-bottom: 90px;
  }
  .working-process-image {
    display: none;
  }
  .working-process-image-768px {
    display: block;
  }
  .working-process__body-title {
    font-size: 36px;
  }
  .working-process__body-feedback {
    padding: 30px 28px 49px 20px;
  }
}
